<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/signup.js"></script>
</head>
<body>
<form>
        <label for="user">Username</label>
        <input type="text" name="user" id="user" placeholder="Username">
        <div class="user error"></div>
        <label for="pass">Password</label>
        <input type="password" name="pass" id="pass" placeholder="Password">
        <div class="pass error"></div>
        <label for="conPass">Password</label>
        <input type="password" name="conPass" id="conPass" placeholder=" Confirm Password">
        <input type="submit" value="Submit">
    </form>
    <script>
        const form = document.querySelector("form");
const userError = document.querySelector(".user.error");
const passError = document.querySelector(".pass.error");



console.log(user)
console.log(pass)

form.addEventListener("submit", async (e) => {
  e.preventDefault();
const user = form.user.value
const pass = form.pass.value
const conPass = form.conPass.value


  userError.textContent = "";
  passError.textContent = "";
  try {
const res = await fetch("signup", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({user, pass, conPass})
    })
    const data = await res.json();
    console.log(data)
    if (data.errors) {
      userError.textContent = data.errors.user;
      passError.textContent = data.errors.passwd;
    }
    if(data.newUser){
      window.location.href = "/login"
    }
  } catch (err) {
    console.log(err);
  }
});

    </script>
</body>
</html>