<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/signup.js"></script>
</head>
<body>
<form>
        <label for="user">Username</label>
        <input type="text" name="user" id="user" placeholder="Username">
        <div class="user error"></div>
        <label for="pass">Password</label>
        <input type="password" name="pass" id="pass" placeholder="Password">
        <div class="pass error"></div>
        <label for="conPass">Password</label>
        <input type="password" name="conPass" id="conPass" placeholder=" Confirm Password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>